/****************************************** 
CSC-240 Web Programming
S. Garrand

Scouting America Official Colors  

Primary Colors          Secondary Colors    
Blue: #003F87           Pale Blue: #9AB3D5  
Gold: #FDC116           Dark Blue: #003366  
Grey: #515354           Light Tan: #E9E9E4  
Olive: #243E2C          Dark Tan: #AD9D7B   
Red: #CE1126            Pale Grey: #858787   
Tan: #D6CEBD            Dark Grey: #232528    
******************************************/
/***************************************** 
GLOBAL STYLING 
*****************************************/
* {
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #242328;  
}

a:visited {
    color: #561b99;          
}

body a {
    text-decoration: underline;
}

/***************************************** 
LAYOUT STYLING 
*****************************************/
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    padding: 0px 16px;
    width: 100%;
    background-color: #232528;
    z-index: 100;  /* For mobile displays */
    height: 50px;  /* For mobile displays */
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
    justify-content: flex-start;
    padding-right:3em;
    
}

.nav-logo {
    display: flex;
    align-items: center;    
    margin-right: 12px; /* space between logo and links */   
    height: 40px; /* logo height less than header height for vertical centering */ 
}

.nav-logo img {    
    height: 35px; /* to fit within the 50px header */
    width: auto;
    display: block;
}

footer {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.8rem;
    color: #243E2C;
    margin-top: 5px;
    border-top: 1px solid #858787; 
}

.footer-logos {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 5px; 
    flex-wrap: nowrap;
}

.footer-text {
    margin: 0;
    font-size: 10px;
    text-decoration: underline;
}

.footer-logos img {
    height: 35px; 
    margin: 0 10px;
    vertical-align: middle;
}

.hero {
    width: 100%;
    max-height: 60vh; /* Limit height relative to viewport */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232528;
    padding-top: 50px;
}

.hero img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; 
    max-height: 60vh; /* Prevent image from getting too tall */
    display: block;
}

.section-group {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    max-width: 1100px;
    margin: 0 auto;
}

.section {
    /* For lining up the 4 columns of links*/
    flex: 1;
    min-width: 300px;
}

mobile-break {
    display: none;
}

/***************************************** 
NAVIGATION MENU STYLING 
*****************************************/
header li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 8px 12px;
}

header a {
    text-decoration: none;
    color: #ffffff;
    transition: none;
    padding: 8px 12px;
}

header a:visited {
    color: #ffffff
}

nav ul {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer a,
.footer-logos a {
    background-color: transparent;
    font-weight: normal;
    padding: 0;
    text-decoration: none;
    font-size: 0.7rem;
}

footer a:hover,
.footer-logos a:hover {
    background-color: transparent;
    font-weight: normal;
}

.active { 
    /* Nav menu color for page you are on */
    background-color: #858787;
    padding: 14px 16px;
    font-weight: bold;
}

nav a:hover:not(.active),
nav li a:hover:not(.active) {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 21px;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 1px;
}

#burgerLinks {
    list-style-type: none;
    gap: 1px;
    margin: 0;
    padding: 0;
}

#burgerLinks li a {
    color: #ffffff;
    text-decoration: none;
    padding: 16px 8px;
}

/***************************************** 
TYPOGRAPHY STYLING 
*****************************************/
#main {
    /* Main header on each page */
    color: #243E2C;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    padding-top: 35px;
}

.subhead_red {
    /* Secondary header */
    color: #CE1126;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    padding-bottom: 24px;
}

.subhead_green1 {
    /* Secondary header */
    color: #243E2C;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    padding-bottom: 10px;
    margin: .5em;
}

.subhead_green2 {
    /* Secondary header */
    color: #243E2C;
    padding-bottom: 5px;
    margin-left: 2em; 
    margin-right: 3em;  
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 1em;
}
.subhead_green2 .match-heading {
    color: inherit;          
    font-size: inherit;      
    font-weight: inherit;    
    text-decoration: underline; 
}

.troop-info {
    text-align: center;
    padding-top: 16px;
}

.general-info .troop-info a:hover {
    /* Hover effect inside general-info troop-info */
    font-weight: bold;
    cursor: pointer;
}

.img-text p,
.troop-info p {
    font-size: 18px; 
    line-height: 1.2; 
}

.img-text p {
    max-width: 550px;
}

/***************************************** 
COMPONENTS STYLING 
*****************************************/
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    background-color: #243E2C;
    color: #ffffff;
    border: none;
}

.infoButton, 
.applyButton, 
.sponsorButton {
    display: inline-block;
    width: 250px; /* consistent width */
    max-width: 90%;
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
    margin: 10px auto;
    background-color: #243E2C;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /*remove for JS to work*/
}

.infoButton:hover, 
.applyButton:hover, 
.sponsorButton:hover {
    background-color: #858787;
}

.applyButton:visited, 
.sponsorButton:visited,
.infoButton:visited {
    color: #ffffff;        
}

.img-container  { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 32px;
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.img-main {
    width: 100%;
    height: auto;
    max-width: 470px; /* preserve quality on larger screens */
    object-fit: contain;
} 

.img-text {
    max-width: 600px;
    width: 100%;
    padding: 0;
}

.img-container .image,
.img-container .img-text {
    flex: 1;
    max-width: 50%;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #232528;
}

.formBox {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23252870; /*70 on end to adjust transparency*/
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.formBody {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 10px #23252890;
    position: relative;
}

.formBody input[type="text"],
.formBody input[type="email"],
.formBody textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #515354;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #85878720;
}

.formBody input[type="submit"] {
    /* Submit Button */
    background-color: #243E2C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.formBody input[type="submit"]:hover {
    background-color: #858787;
}

.errorMessage {
    color:#CE1126;
    font-size: 16px;
    margin-bottom: 10px;
}

hr.solid1 {
    border-top: 1px solid #858787;
    align-self: center;
}

hr.solid2 {
    border-top: 1px solid #858787;
    transform: scaleY(0.5); /* makes the line appear to be thin */
    transform-origin: top;
    margin-top: 10px;
}

ul.resourcesList {
    color: #243E2C;
    list-style-type: square;
    padding-left: 20px;
    font-size: 16px; 
    margin-left: 3em; 
    margin-right: 3em;     
}

ul.resourcesList li {
    margin-left: .7em;
    padding-bottom: 5px;
    font-size: 16px;
}

/***************************************** 
PHOTO GALLERY STYLING 
*****************************************/
.gallery-wrap, 
.resources-wrap {
    background-color: #E9E9E4;
}

.resources-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 40px; 
    background-color:inherit;
}

.slideshow-container {
    width: 100%;
    max-width: 1600px;
    overflow: hidden; /* hide scrollbar */
    white-space: nowrap;
    border: 2px solid #AD9D7B;
}

.slideshow-items {
    display: inline-flex;
}

.slideshow-img {
    flex: 0 0 auto;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.slideshow-img img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
}

.caption {
    background-color: #232528;
    height: 20px; 
    width: 100%;
}

/***************************************** 
CALENDAR STYLING 
*****************************************/
ul.calendarList {
    list-style-type: square;
    padding-left: 20px;
    font-size: 16px;
    color: #243E2C;
    margin: 1em;
    line-height: 1em;
}

ul.calendarList li {
    margin: .7em;
    font-size: 16px;
}

ul.calendarList a:hover,
ul.resourcesList a:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.calendar-section {
    display: flex;
    gap: 20px; /* space between image & calendar lists*/
    padding: 40px 10%;
    align-items: stretch; 
    max-width: 1000px;
    margin: auto;
}

.calendar-image {
    flex: 0 0 auto;
    display: flex;
    align-items: stretch; 
    border: 2px solid #AD9D7B;
}

.calendar-image img {
    height: 100%; 
    width: auto;  /* keep aspect ratio */
    display: block;
    max-width: 350px; 
    object-fit: cover; 
 }

.calendar-lists {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-width: 300px;
}

.month-list {
    margin-bottom: 5px;  
}

/***************************************** 
RESPONSIVE STYLING 
*****************************************/
@media (max-width: 768px) {
    
    /* Calendar Section */
    .calendar-section {
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
    }    
    .calendar-image img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }    
    .calendar-image,
    .calendar-lists {
        width: 100%;
        max-width: 100%;
    }
    .calendar-lists {
        margin-top: 20px;
    }

    /* Navigation */
    .hamburger {
        display: flex;
    }   
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #232528;
        margin: 0;
        z-index: 999;
        padding: 20px 0 0 0;
    }
    nav ul.open {
        display: flex;
    }
    nav li {
        width: 100%;
        text-align: center;
        padding: 0;
        border-top: 1px solid #E9E9E4;
    }
    nav a.active {
        padding: 12px 0;
        background-color: #858787;
        font-weight: bold;
    }
    nav li a:hover:not(.active) {
        background-color: #232528;
        font-weight: bold;
        display: block;
        width: 100%;
        padding: 16px 0;
        color: #ffffff;
        text-decoration: none;
    }
    nav li a {
        display: block;
        width: 100%;
        padding: 16px 0;
        color: #ffffff;
        text-decoration: none;
    }

    /* Components */
    .infoButton,
    .applyButton,
    .sponsorButton {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-text {
       padding: 0;
    }
    .img-container {
        flex-direction: column; /*stack on small screens */
        align-items: center;
        text-align: center;   
    }
    .img-main {
        width: 100%;
        max-width: 90vw;
        height: auto;
    }
    .img-container .image,
    .img-container .img-text {
        max-width: 100%;
    }
    .img-container .image, 
    .img-container .img-text {
        flex: 1;
        max-width: 50%;
    }

    /* Typography */
    .subhead_red { 
        text-align: center; /*center when on mobile only*/
    }  
    .troop-info p:first-of-type { 
        text-align: left;
    }

    /* Layout */
    .hero {
        padding-top: 60px;
    }
    .mobile-break {
        display: inline;
    }
}
